body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.profile-header {
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 5vw;
    text-align: center;
    min-height: 40vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vw;
    border-top-right-radius: 3vw;
    border-top-left-radius: 3vw;
}

.profile-photo img {
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    margin: 3vw;
}

.user-info {
    flex: 1 1 auto;
    margin-top: 2vh;
    text-align: left;
}

.user-info div {
    margin-bottom: 2vh;
    text-align: left;
    font-size: 2vw;
}

/* Style for the Edit Profile button */
#editProfileBtn {
    padding: 1vh 2vw;
    background-color: white;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#editProfileBtn:hover {
    background-color: #656565;
}


.wish-lists {
    overflow: scroll;
    white-space: nowrap; /* Keep wishes in one line */
    padding: 5vw;
}

.wish-box {
    display: inline-block;
    background-color: #fff;
    padding: 3vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2vw;
    text-align: center;
    width: 30vw;
    height: 50vh;
    transition: transform 0.3s ease; /* Smooth sliding transition */
    border: 2px solid #000000; /* Add border */
}

/* Style for the wish box container */
.wish-box {
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5vw;
    /* margin: 2.5vh; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

@media (max-width: 800px) {
    .wish-box {
        height: 30vh;
    }
}

/* Style for the image within the wish box */
.wish-box img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 2vh;
}

/* Style for the heading within the wish box */
.wish-box h2 {
    font-size: 2.5vh;
    color: #333;
    margin-bottom: 1.5vh;
}

/* Style for the description paragraph within the wish box */
.wish-box p {
    font-size: 1.5vh;
    color: #666;
    margin-bottom: 1.5vh;
    word-wrap: break-word;

}


.previous-purchases {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vw;
}

.previous-purchases h2,
.purchase-box {
    text-align: left;
}

/* Style for the purchase box container */
.purchase-box {
    display: flex;
    align-items: center;
    width: 90vw; /* Responsive width */
    /* max-width: 400px; */
    background-color: #fff;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 2vh;
    padding: 3vw;
}

/* Style for the image within the purchase box */
.purchase-box img {
    max-width: 30%;
    border-radius: 8px;
    margin-right: 3vw;
}

/* Style for the content (heading and description) within the purchase box */
.purchase-box div {
    flex-grow: 1;
}

/* Style for the heading within the purchase box */
.purchase-box h2 {
    font-size: 2.5vh;
    color: #333;
    margin-bottom: 1.5vh;
}

/* Style for the description paragraph within the purchase box */
.purchase-box p {
    font-size: 1.5vh;
    color: #666;
    margin-bottom: 1.5vh;
}
